<script src="<% @question.preseed.url %>"></script>

<div class="blockly-env-wrapper">

     <div class="blockly-editor-wrapper" id="blocklyDiv">
     </div>
     <div class="canvas-wrapper">
     </div>

</div>

<script src="https://unpkg.com/blockly/blockly.min.js"></script>
<script src="/publicAssets/blockly-init.js"></script>