<script src="https://unpkg.com/blockly/blockly.min.js"></script>
<script>javascriptGenerator = javascript.javascriptGenerator</script>
<script src="/publicAssets/blockly-init.js"></script>
<script src="/publicAssets/JS-interpreter/interpreter.js"></script>
<script src="/publicAssets/JS-interpreter/acorn.js"></script>

<script defer src="<%= @preseed %>"></script>
<script defer src="<%= @seed %>"></script>

<script defer src="/publicAssets/global-postseed.js"></script>



<div class="blockly-env-wrapper">

     <div class="blockly-editor-wrapper" id="blocklyDiv">
     </div>
     <div class="canvas-wrapper" id="canvasDiv">
     </div>

</div>
